.project

# Visual Studio files
*/[Ee]xported[Oo]bj/
*.booproj
*.pidb
*.suo
*.svd
*.user
*.userprefs
*.cachefile
bin/
obj/
.vs/

# Files generated in the build process
Jypeli.*.sln
Jypeli.*.csproj
Compiled/
installer/MonoJypeli_setup.exe


# Operating system files
._*
.DS_Store*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
[Tt]humbs.db

# Dolphin
.directory
